* {
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf');
}

body {
    background-color: #84e1ad;    
}

header {
    background-image: linear-gradient(to bottom, #3dc276 , #2a8650 ,#123f25);
    padding-bottom: 5px;
}
.textheader {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    padding-top: 15px;

    width: 450px;
}

article p {
    text-indent: 2em;
    padding-left: 1em;
    padding-right: 1em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
    text-align: justify;
}
header h1 {
    margin-bottom: 5px;
    padding-bottom: 0.5em;
}
header p {
    font-size: 1em;
    padding-bottom: 1.3em;
}
nav a {
    color: #fff;
    padding-left: 22px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;;
    padding-bottom: 1em;
    background-color:  rgb(255, 255, 255);
    border: 1px solid black;
}

section h1 {
    margin-top: 0.5em;
    padding-left: 0.3em;

}
section h2 {
    margin-top: 0.5em;
    padding-left: 0.3em;
    font-size: 1em;

}
section h1, h2{
    font-weight: normal;
    font-family: 'idroid','Times New Roman', Times, serif;
    color:#123f25;
}

h2 {
    background-image: linear-gradient(to right, #3dc276, #bedbcbd3,#ffff);
}

.list {
    margin: 10px 10px;
}

picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: auto;

}

.contV {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 320px;
}
.videoYoutube{

    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 640px;
    max-height: 320px;
    width: 100%;
    height: 100%;
}

.fimC {

    background-color: #84e1ac98;

    margin-left: 1em;
    margin-right: 1em;
    border-radius: 8px;

    margin-top: 1em;
    margin-bottom: 0.5em;
}

.endtext p{
    background-color: #2d9659;
    padding: 0.5em 0em;
    padding-left: 0.5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 

@media only screen and (min-width: 820px){
    .col-0 {width: 50%;}
    .col-1 {width: 50%;}
    .list {
        color: red;display: flex;
        width: 83%;
        margin: auto;
    }
}
.list ul {
    list-style-type: none;

}
/* for mobile phones*/
[class *= "col"] {
    float: left;
    width: 100%;
    
}

a {
    text-decoration:  none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

footer{
    background-color: rgba(128, 128, 128, 0.219);
    color: #123f25cb;
    text-align: center;
}